body{
    font-family: 'Teko','Francois One', 'Noticia Text', serif;
}
h1{
    color:gold;
    font-size: 36pt;
}
.back-display{
    display: block;
    margin: auto;
    width:980px;
    height: auto;
    background-color: royalblue;
    color:whitesmoke;
}