body{
    font-family: 'Teko','Francois One', 'Noticia Text', serif;
    background-color:lightslategray;
}
h1{
    color:gold;
    font-size: 36pt;
}
.back-display{
    display: block;
    margin: auto;
    width:980px;
    height: auto;
    background-color: royalblue;
    color:whitesmoke;
}
.time-remaining{
    font-size:20pt;
    text-align: right;
}
.questions{
    display: inline; 
    font-size: 14pt;
    letter-spacing: .5pt;
}
.multiple-choice{
    text-align: center;
    letter-spacing: 1pt;
    font-size: 12pt;
}